Repository connect-foundation/2019-13, pull requests merged in 2019-12, with the labels that each got.

#140 버그: 드래그 시 있는 버그들 수정
  front/src/Components/Block/Logic/Drag.js
  front/src/Components/Block/Logic/childDrag.js
  front/src/Components/Block/block.js
  front/src/Components/Block/constants.js
  front/src/Components/Block/index.js
Labels: Front-end, React, svg

#135 리팩토링: 리뷰받은 것 기반으로 삭제
  front/src/Components/Canvas/index.js
  front/src/Components/DrawSection/function/bounce.js
  front/src/Components/DrawSection/function/move.js
  front/src/utils/utils.js
Labels: Front-end

#136 리팩토링: 리뷰 받은 내용을 기반으로 코드 생성 및 실행 부분 수정.
  front/src/Components/Block/functionMaker.js
  front/src/Components/Block/generator.js
  front/src/Components/Block/workspace.js
  front/src/Components/DrawSection/index.js
Labels: Front-end

#138 버그: 캔버스에서 Drag & Drop 할 때 캔버스 밖으로 벗어날 때 문제 해결
  front/src/Components/URLImage/index.js
  front/src/reducer/index.js
Labels: Canvas, React, bug

#141 추가: 블록 input값 갱신
  front/src/Components/Block/block.js
  front/src/Components/Group/index.js
  front/src/Components/Group/input.js
Labels: Front-end, React, svg

#145 추가: 블록 추출 함수
  front/src/Components/Block/functionMaker.js
  front/src/Components/Block/generator.js
  front/src/Components/Block/workspace.js
  front/src/Routes/Project.js
Labels: Front-end

#144 버그: 마우스 휠 할 때 블록모델에서 삭제 되어야하는 문제를 삭제가 안되는 문제 해결
  front/src/Components/Block/index.js
  front/src/Components/Block/workspace.js
  front/src/reducer/index.js
Labels: Front-end, bug

#146 추가: graphql createProjectAndBlocks 일부 만듬
  back/src/api/graphql/block.graphql
  back/src/api/graphql/project.graphql
  back/src/api/resolvers/project.js
  back/src/passport/index.js
  back/src/schema.js
Labels: back-end, graphql

#147 추가: 프로젝트 추가 및 수정 API 작성
  back/datamodel.prisma
  back/src/api/graphql/block.graphql
  back/src/api/graphql/project.graphql
  back/src/api/resolvers/project.js
  back/src/passport/index.js
Labels: back-end, graphql, prisma

#148 추가: 백엔드에 프로젝트 생성 및 블록 저장 요청 기능.
  front/package.json
  front/src/Apollo/queries/Project.js
  front/src/Components/Block/workspace.js
  front/src/Routes/Project.js
  front/src/index.js
Labels: Front-end, apollo

#149 형식: 변수명 변경 및 스트링변환.
  front/src/Apollo/queries/Project.js
  front/src/Components/Block/workspace.js
Labels: Front-end

#150 추가 : project 관련 API 추가
  back/src/api/graphql/project.graphql
  back/src/api/resolvers/project.js
  back/src/passport/index.js
  back/src/schema.js
  back/src/server.js
  back/src/utils/utils.js
Labels: back-end, graphql, prisma

#152 추가: 머테리얼UI의 스낵바를 커스텀하여 컴포넌트화.
  front/src/Components/Snackbar.js
  front/src/Routes/Project.js
  front/src/Styles/Theme.js
Labels: Front-end

#151 형식: 브라우저에서 오류로 띄우는 것 없애기
  front/src/Components/Canvas/index.js
  front/src/Components/DialMenu/index.js
Labels: React

#154 추가: 프로젝트를 저장하고 불러오기.
  front/src/Apollo/Client.js
  front/src/Apollo/queries/Project.js
  front/src/Components/Routes.js
  front/src/Routes/Project.js
Labels: Front-end, React, apollo

#153 버그: 백엔드 블록 API 오류
  back/src/api/graphql/block.graphql
  back/src/api/graphql/project.graphql
  back/src/api/resolvers/project.js
Labels: back-end, bug

#155 버그 : project API 버그 수정
  back/src/api/resolvers/project.js
Labels: bug

#156 추가: 이미지 추가시 spriteselector에도 추가
  front/src/Components/DialMenu/index.js
  front/src/Components/Sprite/index.js
  front/src/Components/SpriteSelector/index.js
  front/src/Components/SpriteSelectorItem/index.js
Labels: Front-end, React

#157 추가: 마이페이지에 프로젝트를 불러오고 삭제 구현
  front/src/Apollo/Client.js
  front/src/Apollo/queries/Project.js
  front/src/Components/Card/index.js
  front/src/Components/Header.js
  front/src/Routes/Mypage.js
  front/src/Routes/Project.js
Labels: Front-end, React, apollo

#158 버그: for문의 값이 0일때 한번 동작하는 문제해결
  front/src/Components/Block/functionMaker.js
Labels: bug

#160 버그: uri 오류로 인해서 데이터 못받아오는 문제 수정
  front/devenv
  front/src/Apollo/Client.js
Labels: HotFix, bug

#166 버그: 중복코드 제거
  back/src/api/resolvers/project.js
Labels: HotFix

#165 버그: 프로젝트 번호를 잘못 접근할 경우 프로젝트 페이지로 이동
  front/src/Routes/Main.js
  front/src/Routes/Mypage.js
  front/src/Routes/Project.js
Labels: HotFix

#169 버그: 잘 작동되지 않는 기능들 일부 제거
  front/src/Components/Auth/index.js
  front/src/Components/Block/Init/Control.js
  front/src/Components/Block/index.js
  front/src/reducer/index.js
Labels: HotFix, bug

#182 추가: 백엔드에 라이크 기능 추가
  back/datamodel.prisma
  back/src/api/graphql/like.graphql
  back/src/api/graphql/project.graphql
  back/src/api/graphql/toggleLike.graphql
  back/src/api/resolvers/computed.js
  back/src/api/resolvers/project.js
  back/src/api/resolvers/toggleLike.js
  back/src/env.js
Labels: back-end, prisma

#183 추가: 마이페이지와 프로젝트 페이지의 좋아요 기능을 추가
  front/src/Apollo/queries/Project.js
  front/src/Components/Card/index.js
  front/src/Routes/Project.js
Labels: Front-end, apollo

#184 리팩토링: styled 컴포넌트의 설정위치를 외부로 변경함.
  front/src/Routes/Mypage.js
Labels: Front-end

#187 추가: 프로젝트 공개 비공개 기능 추가
  back/src/api/graphql/toggleAuth.graphql
  back/src/api/resolvers/project.js
  back/src/api/resolvers/toggleAuth.js
  front/src/Apollo/queries/Project.js
  front/src/Routes/Project.js
Labels: Front-end, apollo, back-end, prisma

#188 추가: 다른 블록들 연결 및 해제, 드래그 앤 드롭
  front/src/Components/Block/Init/Control.js
  front/src/Components/Block/Init/Motion.js
  front/src/Components/Block/Init/Operator.js
  front/src/Components/Block/Init/index.js
  front/src/Components/Block/Logic/Drag.js
  front/src/Components/Block/Logic/childDrag.js
  front/src/Components/Block/Path/index.js
  front/src/Components/Block/block.js
  front/src/Components/Block/blockmodel.js
  front/src/Components/Block/connection.js
  front/src/Components/Block/constants.js
  front/src/Components/Block/index.js
  front/src/Components/Block/workspace.js
  front/src/Components/Group/index.js
  front/src/Components/Group/input.js
Labels: Front-end, React, svg

#189 기타: 코드 리팩토링 및 사소한 오류, 기능 수정.
  back/src/api/resolvers/project.js
  front/src/Apollo/Client.js
  front/src/Components/Auth/index.js
  front/src/Components/DropDown/index.js
  front/src/Routes/Mypage.js
Labels: Front-end, back-end

#190 기타: 브라우저 콘솔창 에러 관련
  front/public/manifest.json
  front/src/Components/Group/index.js
  front/src/Components/GroupModel/index.js
  front/yarn.lock
Labels: Front-end, React

#191 리팩토링: 프로젝트 페이지 내의 헤더 컴포넌트화
  front/src/Components/projectHeader.js
  front/src/Routes/Project.js
Labels: Front-end

#194 추가: 블록 생성 및 드래그 input 박스에서도 가능하게 구현
  front/src/Components/Block/Logic/Copy.js
  front/src/Components/Block/Logic/Drag.js
  front/src/Components/Block/Logic/childDrag.js
  front/src/Components/Block/Logic/makeTargetPath.js
Labels: Front-end, React

#195 추가: 프로젝트에서 sprite 관련 코드 추가
  back/.gitignore
  back/datamodel.prisma
  back/package.json
  back/src/api/graphql/image.graphql
  back/src/api/graphql/project.graphql
  back/src/api/resolvers/computed.js
  back/src/api/resolvers/project.js
  back/src/objectstorage/config.js
  back/src/objectstorage/delete.js
  back/src/objectstorage/upload.js
  front/package.json
  front/src/Apollo/Client.js
  front/src/Apollo/queries/Project.js
  front/src/Components/DialMenu/index.js
  front/src/Components/DrawSection/index.js
  front/src/Components/URLImage/index.js
  front/src/Components/projectHeader.js
  front/src/Routes/Project.js
  front/src/Styles/Theme.js
  front/src/reducer/index.js
Labels: back-end, graphql

#199 추가: 디테일 페이지 추가
  front/src/Apollo/queries/Project.js
  front/src/Components/Routes.js
  front/src/Routes/Details.js
  front/src/Styles/GlobalStyles.js
  front/src/Styles/Theme.js
Labels: Front-end, React, apollo

#205 기타: magic number 제거 및 block 크기 고정
  front/src/Components/Block/Logic/Drag.js
  front/src/Components/Block/Logic/childDrag.js
  front/src/Components/Block/Path/index.js
  front/src/Components/Block/block.js
  front/src/Components/Block/blockmodel.js
  front/src/Components/Block/constants.js
  front/src/Components/Block/dragging.js
  front/src/Routes/Project.js
Labels: Front-end, React, svg

#208 추가: sprite 삭제 코드 작성
  front/src/Components/DrawSection/index.js
  front/src/Components/Snackbar.js
  front/src/Components/SpriteSelector/index.js
  front/src/Components/SpriteSelectorItem/index.js
  front/src/Routes/Project.js
  front/src/Styles/GlobalStyles.js
  front/src/Styles/Theme.js
  front/src/reducer/index.js
Labels: Canvas, Front-end, React

#209 추가: 카테고리 버튼 클릭시 맞는 위치로 이동
  front/src/Components/Block/block.js
  front/src/Components/Block/constants.js
  front/src/Components/Block/index.js
  front/src/Routes/Project.js
Labels: Front-end, React

#211 추가: 댓글 추가, 읽기, 수정, 삭제 기능
  back/datamodel.prisma
  back/src/api/graphql/block.graphql
  back/src/api/graphql/image.graphql
  back/src/api/graphql/input_value.graphql
  back/src/api/graphql/like.graphql
  back/src/api/graphql/model.graphql
  back/src/api/graphql/project.graphql
  back/src/api/graphql/project_auth.graphql
  back/src/api/graphql/user.graphql
  back/src/api/project/comment.js
  back/src/api/project/comments/addcomment/addcomment.graphql
  back/src/api/project/comments/addcomment/addcomment.js
  back/src/api/project/comments/removecomment/removecomment.graphql
  back/src/api/project/comments/removecomment/removecomment.js
  back/src/api/project/comments/updatecommnet/updatecomment.graphql
  back/src/api/project/comments/updatecommnet/updatecomment.js
  back/src/api/resolvers/computed.js
  back/src/api/resolvers/project.js
  back/src/api/resolvers/user.js
  back/src/schema.js
  front/package.json
  front/src/Apollo/queries/Comment.js
  front/src/Apollo/queries/Project.js
  front/src/Components/Comment/Comment.js
  front/src/Components/Comment/CommentWriter.js
  front/src/Components/Comment/Comments.js
  front/src/Routes/Details.js
  front/src/utils/utils.js
Labels: Front-end, React, apollo, back-end, graphql, prisma

#212 버그: 스크롤 관련 문제 해결
  front/src/Components/Block/index.js
  front/src/Components/Block/workspace.js
Labels: Front-end

#214 추가: 프로젝트 조회수 기능
  back/datamodel.prisma
  back/src/api/graphql/addVIew.graphql
  back/src/api/graphql/model.graphql
  back/src/api/resolvers/addView.js
  front/src/Apollo/queries/Project.js
  front/src/Components/DropDown/index.js
  front/src/Routes/Details.js
Labels: Front-end, apollo, back-end, graphql

#215 추가: 디테일 페이지에 캔버스 추가
  front/src/Components/Canvas/index.js
  front/src/Components/Card/index.js
  front/src/Components/DrawSection/function/move.js
  front/src/Components/DrawSection/function/rotate.js
  front/src/Components/DrawSection/index.js
  front/src/Components/detailCanvas.js
  front/src/Routes/Details.js
  front/src/Routes/Mypage.js
  front/src/utils/makeBlock.js
  front/src/utils/utils.js
Labels: Front-end

#216 변경: 메인페이지를 더미데이터가 아닌 실제 데이터로 보이도록 수정함
  back/src/api/resolvers/project.js
  front/src/Apollo/queries/Project.js
  front/src/Components/Card/index.js
  front/src/Components/DrawSection/function/rotate.js
  front/src/Components/DropDown/index.js
  front/src/Components/RecommendContainer.js
  front/src/Routes/LoginMain.js
  front/src/Routes/Main.js
  front/src/Routes/Mypage.js
Labels: Front-end, React, apollo, back-end, graphql, prisma

#221 기타: if문이 value에 따라 실행되도록 수정
  front/src/Components/Block/functionMaker.js
Labels: Front-end

#222 기타: 블록 최초 설정 시 value 부여
  front/src/Components/Block/block.js
Labels: Front-end

#223 버그: for문 버그 수정
  front/src/Components/Block/functionMaker.js
  front/src/Components/RecommendContainer.js
Labels: bug

#224 버그: release 0.6.0 버그 수정.
  front/src/Components/Block/block.js
  front/src/Components/Block/functionMaker.js
  front/src/Components/RecommendContainer.js
Labels: HotFix

#232 버그: 댓글 관련버그 수정
  front/src/Components/Comment/Comment.js
  front/src/Components/Comment/CommentWriter.js
Labels: Front-end, bug

#233 추가: 블록 드롭다운, 블록이 바깥으로 나갈 시 원위치 복구
  front/public/index.html
  front/src/Components/Block/Init/Event.js
  front/src/Components/Block/Logic/Drag.js
  front/src/Components/Block/Logic/childDrag.js
  front/src/Components/Block/Logic/makeTargetPath.js
  front/src/Components/Block/block.js
  front/src/Components/Block/blockmodel.js
  front/src/Components/Block/constants.js
  front/src/Components/Block/index.js
  front/src/Components/Group/dropdown.js
  front/src/Components/Group/index.js
  front/src/Components/GroupModel/dropdown.js
  front/src/Components/GroupModel/index.js
  front/src/utils/key.js
Labels: Front-end, React, svg

#234 추가: 프로젝트 페이지에서 키 입력 감지
  front/src/Routes/Project.js
  front/src/utils/keyListener.js
Labels: Front-end, React

#238 추가: 키보드 입력을 받아 실행하는 블록을 함수화.
  front/src/Components/Block/functionMaker.js
  front/src/Components/Block/generator.js
  front/src/Components/Block/workspace.js
  front/src/Components/DrawSection/index.js
  front/src/Components/RecommendContainer.js
  front/src/Components/projectHeader.js
  front/src/Routes/Project.js
  front/src/utils/keyListener.js
  front/src/utils/playBlocks.js
Labels: Front-end

#236 추가: 충돌이벤트 코드 추가
  front/src/Components/DialMenu/index.js
  front/src/Components/DrawSection/function/collision.js
  front/src/Components/DrawSection/index.js
  front/src/Routes/Project.js
Labels: Front-end, React

#239 변경: 하나의 입력에 여러 이벤트를 받을 수 있도록 변경
  front/src/Apollo/queries/Project.js
  front/src/Components/Block/workspace.js
  front/src/utils/playBlocks.js
Labels: Front-end

#240 추가: 이미지마다 workspace를 가지고 클릭 시 workspace 변경
  front/src/Components/Block/workspace.js
  front/src/Components/Block/workspaceList.js
  front/src/Components/SpriteSelector/index.js
  front/src/Components/SpriteSelectorItem/index.js
  front/src/Routes/Project.js
  front/src/reducer/index.js
Labels: Front-end, React

#241 버그: 삭제된 함수를 복구
  front/src/Components/Block/workspaceList.js
Labels: Front-end, bug

#243 변경: generator에서 key 값을 받아오는 방식으로 변경
  front/src/Components/DrawSection/function/move.js
  front/src/Components/DrawSection/function/rotate.js
Labels: Front-end, React

#242 변경: 충돌함수 sprite별로 체크하기 위해서 기능 변경
  front/src/Components/Canvas/index.js
  front/src/Components/DrawSection/function/collision.js
  front/src/Components/DrawSection/index.js
  front/src/Components/URLImage/index.js
  front/src/utils/obb/index.js
  front/src/utils/obb/isOBBOverlap.js
  front/src/utils/utils.js
  front/src/utils/vector2.js
Labels: Front-end, React

#244 변경: 여러 워크스페이스에서 블록을 실행하도록 변경.
  front/src/Components/Block/functionMaker.js
  front/src/Components/Block/generator.js
  front/src/Components/Block/workspace.js
  front/src/Components/Block/workspaceList.js
  front/src/Components/DrawSection/index.js
  front/src/utils/keyListener.js
  front/src/utils/playBlocks.js
Labels: Front-end

#245 버그: 값을 제대로 return
  front/src/Components/Block/workspaceList.js
Labels: bug

#246 기타: 이미지가 클경우 이미지 조정
  front/src/Components/DialMenu/index.js
  front/src/utils/utils.js
Labels: Front-end, React

#247 리팩토링: 리뷰 내용에 따라 댓글 코드 수정.
  front/src/Components/Comment/Comment.js
  front/src/Components/Comment/CommentWriter.js
  front/src/Components/Comment/Comments.js
Labels: Front-end

#248 추가: 커넥션을 이용한 인서트마커 만들기
  front/src/Components/Block/Init/Motion.js
  front/src/Components/Block/Logic/Drag.js
  front/src/Components/Block/Logic/childDrag.js
  front/src/Components/Block/block.js
  front/src/Components/Block/dragging.js
  front/src/Components/Block/index.js
  front/src/Components/Block/insertMarker.js
  front/src/Components/Block/workspace.js
  front/src/Components/Block/workspaceList.js
  front/src/Components/Group/index.js
Labels: Front-end, React, svg

#249 기타: 크롬브라우저가 아닐 경우 에러 메시지 표시
  front/public/errorlogo.png
  front/public/index.css
  front/public/index.html
  front/public/index.js
Labels: Front-end

#250 버그: conflict 해결 중 괄호가 빠진 상황 수정
  front/src/Components/Block/workspaceList.js
Labels: bug

#251 기타:익스플로러에서도 작동하도록 코드 변경
  front/public/index.js
Labels: Front-end

#252 기타: 버그 수정 및 변수명 변경
  front/src/Components/Block/Init/Control.js
  front/src/Components/Block/Logic/Drag.js
  front/src/Components/Block/Logic/childDrag.js
  front/src/Components/Block/block.js
  front/src/Components/Block/connection_db.js
  front/src/Components/Block/dragging.js
  front/src/Components/Block/generator.js
  front/src/Components/Block/insertMarker.js
  front/src/Components/Block/workspace.js
  front/src/Components/Group/dropdown.js
  front/src/Components/Group/index.js
  front/src/utils/makeBlock.js
Labels: bug

#253 변경: 디비변경에 대한 백엔드 코드 수정
  back/datamodel.prisma
  back/src/api/graphql/block.graphql
  back/src/api/graphql/model.graphql
  back/src/api/graphql/project.graphql
  back/src/api/resolvers/computed.js
  back/src/api/resolvers/project.js
Labels: back-end, graphql, prisma

#255 추가: 잘못된 url에 접근할 경우 404페이지를 보여줌.
  front/public/404theduck.png
  front/src/Components/Routes.js
  front/src/Routes/Notfound.js
Labels: Front-end

#254 추가: 캔버스 이미지 클릭 시 workspace 변경
  front/src/Components/Canvas/index.js
  front/src/Components/URLImage/index.js
Labels: Front-end, React

#256 형식: check browser의 lint에 어긋나는 내용을 수정함.
  front/public/index.js
Labels: Front-end

#257 기타: 로그인 헤더 css 및 마이페이지 연결.
  front/src/Components/DropDown/index.js
  front/src/Components/Header.js
Labels: Front-end

#258 추가: moveXY 블록을 동작하도록 구현
  front/src/Components/Block/functionMaker.js
  front/src/Components/DrawSection/function/move.js
Labels: Front-end

#259 변경: workspace 수의 변화에 따른 API 및 프론트엔드 수정
  back/datamodel.prisma
  back/src/api/graphql/block.graphql
  back/src/api/graphql/model.graphql
  back/src/api/graphql/project.graphql
  back/src/api/resolvers/computed.js
  back/src/api/resolvers/project.js
  front/src/Apollo/queries/Project.js
  front/src/Components/Block/workspace.js
  front/src/Components/projectHeader.js
  front/src/Routes/Project.js
Labels: Front-end, back-end

#260 버그: 똑같은 이미지 여러개 안올라가는 현상 수정
  front/src/Components/DialMenu/index.js
Labels: bug

#266 변경: 캔버스 렌더링을 프레임마다 수행되도록 변경.
  front/src/Components/DrawSection/function/move.js
  front/src/Components/DrawSection/function/rotate.js
  front/src/Components/DrawSection/index.js
  front/src/Components/detailCanvas.js
  front/src/reducer/index.js
  front/src/utils/playBlocks.js
  front/src/utils/tempLocationStore.js
  front/src/utils/utils.js
Labels: Canvas, Front-end, React

#267 변경: 유효하지 않은 토큰일 때 다시 로그인하도록 유도 코드 작성
  back/src/auth/index.js
  back/src/server.js
  front/src/Components/Auth/index.js
  front/src/Components/RecommendContainer.js
  front/src/checkError/index.js
  front/src/utils/storage.js
Labels: OAuth

#269 버그: 불러오기 시 workspace지정이 잘 안되있던 현상 수정
  front/src/Components/projectHeader.js
Labels: bug

#270 리팩토링: 프로젝트 헤더 아폴로 보호코드 작성 및 함수명 변경
  front/src/Components/DrawSection/index.js
  front/src/Components/projectHeader.js
  front/src/utils/playBlocks.js
  front/src/utils/utils.js
Labels: Front-end

#271 버그: 시작할때 워크스페이스 정보를 받아오도록 수정함.
  front/src/utils/playBlocks.js
Labels: Front-end, bug

#273 변경: 블록을 생성할때 input value에 따라 분기하여 만들도록 변경함
  back/src/api/graphql/model.graphql
  front/src/utils/makeBlock.js
Labels: Front-end

#272 버그: 프로젝트 로드 시 값 전달 오류
  front/src/Components/projectHeader.js
Labels: bug

#274 버그: 로드 후 렌더링 되지 않던 현상 수정
  front/src/Routes/Project.js
  front/src/utils/makeBlock.js
Labels: bug

#275 버그: 프로젝트 불러온 후 제대로 된 상태로 불러오게 변경
  front/src/Components/projectHeader.js
  front/src/reducer/index.js
  front/src/utils/makeBlock.js
Labels: bug

#276 변경 : DetailCanvas의 동작 기능 수정
  front/src/Components/Canvas/constants.js
  front/src/Components/Canvas/index.js
  front/src/Components/DrawSection/function/bounce.js
  front/src/Components/DrawSection/index.js
  front/src/Components/URLImage/index.js
  front/src/Components/detailCanvas.js
  front/src/Routes/Details.js
  front/src/reducer/index.js
  front/src/utils/canvasSize.js
  front/src/utils/tempLocationStore.js
Labels: Canvas, Front-end, React

#277 추가: 마이페이지 방어코드 추가
  front/src/Routes/Mypage.js
Labels: Front-end

#279 버그: 드롭다운 값 변경을 outputElement에 알려주게 함
  front/src/Components/Block/Init/Sense.js
  front/src/Components/Block/block.js
  front/src/Components/Block/constants.js
  front/src/Components/Block/workspaceList.js
  front/src/Components/projectHeader.js
Labels: bug

#281 추가: 조건문에 충돌 블럭이 들어갈 경우 판단하여 실행하도록 구현
  front/src/Components/Block/functionMaker.js
  front/src/Components/Block/generator.js
  front/src/Components/DrawSection/function/collision.js
Labels: Front-end

#280 버그: 로그인 직후 서버와 통신하는 부분에서 인증이 되지 않는 문제 해결
  front/package.json
  front/src/Apollo/Client.js
  front/src/Components/Auth/index.js
Labels: bug

#284 변경: 충돌 발생후 동작 기능 개선
  front/src/Components/Block/functionMaker.js
Labels: Front-end

#286 추가: sprite 이미지 벽 충돌
  front/src/Apollo/Client.js
  front/src/Components/DrawSection/function/collision.js
Labels: Canvas, Front-end, React

#285 버그: 경로 문제로인한 서버 실행 안되는 것 수정
  back/src/api/project/toggleAuth/toggleAuth.js
  back/src/api/project/toggleLike/toggleLike.js
Labels: bug

#288 버그: detailCanvas에서 정지시 초기화 되지 않는 문제 해결
  front/src/Components/detailCanvas.js
Labels: bug

#287 버그: 좌표가 0으로 이동할때 작동하지 않는 버그수정.
  front/src/Components/DrawSection/function/move.js
  front/src/utils/tempLocationStore.js
Labels: Front-end

#289 리팩토링: reducer 분리
  front/src/reducer/index.js
  front/src/reducer/spritesReducer.js
  front/src/reducer/workspaceReducer.js
Labels: Front-end

#291 버그: 프로젝트 로드 시 값이 제대로 안 들어가는 버그 수정
  front/src/Components/Block/workspace.js
  front/src/utils/makeBlock.js
Labels: bug

#290 기타: 블록을 만들 때 숫자 값들은 숫자로 변경하여 넣도록 수정
  front/src/utils/makeBlock.js
Labels: Front-end

#292 버그: 블록 실행시 이미지 업로드 및 이미지 조작 방지코드 작성
  front/src/Components/DatailCanvas/index.js
  front/src/Components/DialMenu/index.js
  front/src/Components/DrawSection/index.js
  front/src/Routes/Details.js
Labels: Front-end

#293 버그: 프로젝트 헤더 버그 수정
  front/src/Components/Header.js
  front/src/Components/projectHeader.js
Labels: Front-end, bug

#299 기타: footer 추가
  front/src/Components/Footer.js
  front/src/Routes/Details.js
  front/src/Routes/Main.js
  front/src/Routes/Mypage.js
  front/src/Styles/Theme.js
Labels: Front-end

#300 기타: 페이지 수정.
  front/src/Components/Carousel/index.js
  front/src/Components/Comment/Comments.js
  front/src/Components/RecommendContainer.js
  front/src/Components/Routes.js
  front/src/Routes/LoginMain.js
Labels: Front-end

#297 리팩토링: workspace의 인수가 많아 object 형태로 변경
  front/src/Components/Block/workspace.js
  front/src/Components/projectHeader.js
  front/src/Routes/Details.js
  front/src/Routes/Project.js
  front/src/reducer/spritesReducer.js
  front/src/reducer/workspaceReducer.js
Labels: Front-end

#301 추가: 프로젝트 캔버스 이미지 수정/삭제 구현
  back/datamodel.prisma
  back/src/api/project/createProjectAndBlocks/createProjectAndBlocks.js
  back/src/api/project/deleteProjectAndBlocks/deleteProjectAndBlocks.js
  back/src/api/project/updateProjectAndBlocks/updateProjectAndBlocks.graphql
  back/src/api/project/updateProjectAndBlocks/updateProjectAndBlocks.js
  front/src/Apollo/queries/Project.js
  front/src/Components/projectHeader.js
Labels: Canvas, graphql

#302 기타: 자잘한 변경사항들 추가
  front/src/Apollo/queries/Project.js
  front/src/Components/Card/index.js
  front/src/Components/projectHeader.js
  front/src/utils/utils.js
Labels: Front-end

#303 버그: 디테일 페이지 이미지 오류, 업데이트 오류 수정
  back/src/api/project/updateProjectAndBlocks/updateProjectAndBlocks.graphql
  back/src/api/project/updateProjectAndBlocks/updateProjectAndBlocks.js
  front/src/Apollo/queries/Project.js
  front/src/Components/projectHeader.js
  front/src/Routes/Details.js
Labels: Front-end, apollo, back-end, bug, graphql

#304 기타: 푸터 css 변경.
  front/src/Components/DatailCanvas/index.js
  front/src/Components/Footer.js
  front/src/Styles/Theme.js
Labels: Front-end

#305 버그: 드롭다운, 블록 path 깨짐
  front/src/Components/Block/block.js
  front/src/Components/Block/blockmodel.js
  front/src/Components/Block/workspace.js
  front/src/Components/Group/spriteDropdown.js
  front/src/Components/GroupModel/spriteDropdown.js
  front/src/Routes/Details.js
  front/src/Routes/Project.js
  front/src/utils/makeBlock.js
Labels: Front-end, bug

#306 기타: 로딩시 프로그레스 바가 보이도록 수정
  front/src/Components/Loading.js
  front/src/Routes/Details.js
Labels: Front-end

#308 버그: 프로젝트 불러오기 시, default데이터가 남아있던 버그
  front/src/Components/projectHeader.js
  front/src/Routes/Details.js
  front/src/reducer/spritesReducer.js
Labels: bug

#309 문서: README gif 변경
  README.md
  docs/assets/theduck.gif
  docs/assets/w3-demo.gif
Labels: doc

#311 리팩토링: input 음수 값 입력시 처리 개선
  front/src/Components/Block/block.js
Labels: Front-end, React

#314 버그: 프로젝트 로드시 충돌 이벤트가 발생하지 않던 버그를 수정함.
  back/datamodel.prisma
  back/src/api/input.graphql
  back/src/api/model.graphql
  back/src/api/project/createProjectAndBlocks/createProjectAndBlocks.js
  back/src/api/project/deleteProjectAndBlocks/deleteProjectAndBlocks.js
  back/src/api/project/updateProjectAndBlocks/updateProjectAndBlocks.js
  back/src/server.js
  front/src/Apollo/queries/Project.js
  front/src/Components/Block/workspace.js
  front/src/Components/DrawSection/function/collision.js
  front/src/Components/projectHeader.js
  front/src/reducer/spritesReducer.js
  front/src/utils/makeBlock.js
Labels: Front-end, back-end, bug

#316 리팩토링: Snackbar 관련 useState 사용하는 것을 CustomHook으로 변환
  front/src/Components/Auth/index.js
  front/src/Components/Comment/CommentWriter.js
  front/src/Components/DialMenu/index.js
  front/src/Components/DrawSection/index.js
  front/src/Components/projectHeader.js
  front/src/custom_hooks/useSnackbar.js
Labels: Front-end, React

#315 변경: 에러처리방식 변경
  front/src/Apollo/queries/Comment.js
  front/src/Components/RecommendContainer.js
  front/src/Components/projectHeader.js
  front/src/checkError/index.js
Labels: Front-end

#317 기타: 로그인 모달 스타일 수정.
  front/src/Components/Auth/index.js
  front/src/Components/DropDown/index.js
  front/src/Components/Modal/index.js
Labels: Front-end

#320 버그: 좋아요가 눌러져있을경우 프로젝트가 삭제 안되는현상 수정
  back/datamodel.prisma
Labels: prisma

#321 기타: ipad 페이지 접근 허용
  front/public/index.js
Labels: Front-end

#322 형식: 프론트 라우터 폴더 린트 수정.
  front/src/Routes/Details.js
  front/src/Routes/Mypage.js
  front/src/Routes/Notfound.js
Labels: Front-end

#323 형식: 백엔드 폴더 구조 변경
  back/devenv
  back/src/api/comment.js
  back/src/api/comment/mutation/addcomment/addcomment.graphql
  back/src/api/comment/mutation/addcomment/addcomment.js
  back/src/api/comment/mutation/removecomment/removecomment.graphql
  back/src/api/comment/mutation/removecomment/removecomment.js
  back/src/api/comment/mutation/updatecommnet/updatecomment.graphql
  back/src/api/comment/mutation/updatecommnet/updatecomment.js
  back/src/api/project/mutation/addView/addVIew.graphql
  back/src/api/project/mutation/addView/addView.js
  back/src/api/project/mutation/createProjectAndBlocks/createProjectAndBlocks.graphql
  back/src/api/project/mutation/createProjectAndBlocks/createProjectAndBlocks.js
  back/src/api/project/mutation/deleteProjectAndBlocks/deleteProjectAndBlocks.graphql
  back/src/api/project/mutation/deleteProjectAndBlocks/deleteProjectAndBlocks.js
  back/src/api/project/mutation/updateProjectAndBlocks/updateProjectAndBlocks.graphql
  back/src/api/project/mutation/updateProjectAndBlocks/updateProjectAndBlocks.js
  back/src/api/project/query/findProjectById/findProjectById.graphql
  back/src/api/project/query/findProjectById/findProjectById.js
  back/src/api/project/query/findProjectsByUserId/findProjectByUserId.graphql
  back/src/api/project/query/findProjectsByUserId/findProjectByUserId.js
  back/src/api/project/query/projects/projects.graphql
  back/src/api/project/query/projects/projects.js
  back/src/api/project/toggleAuth/toggleAuth.js
  back/src/api/toggle/mutation/toggleAuth/toggleAuth.graphql
  back/src/api/toggle/mutation/toggleAuth/toggleAuth.js
  back/src/api/toggle/mutation/toggleLike/toggleLike.graphql
  back/src/api/toggle/mutation/toggleLike/toggleLike.js
  back/src/api/toggleLike/toggleLike.js
  back/src/api/user/query/me/me.graphql
  back/src/api/user/query/me/me.js
  back/src/api/workspace.js
  back/src/devenv
Labels: back-end

#324 리팩토링: 필요없는 변수 제거
  front/src/customHooks/useImage.js
Labels: React

#326 형식: lint 위반 사항 수정.
  front/src/Components/Block/KeyDropdown.js
  front/src/Components/Block/SpriteDropdown.js
  front/src/Components/Modal/index.js
  front/src/core/blocks/connection/connection.js
  front/src/core/canvas/bounce.js
  front/src/core/canvas/collision.js
  front/src/utils/dataURLtoFile.js
Labels: Front-end

#327 형식: scale => scaleX로변경
  front/src/Components/URLImage/index.js
Labels: React

#330 형식: 백엔드 eslint
  back/.eslintrc
  back/src/api/project/mutation/createProjectAndBlocks/createProjectAndBlocks.js
  back/src/api/project/mutation/deleteProjectAndBlocks/deleteProjectAndBlocks.js
  back/src/api/project/mutation/updateProjectAndBlocks/updateProjectAndBlocks.js
  back/src/api/project/query/findProjectById/findProjectById.js
  back/src/api/project/query/findProjectsByUserId/findProjectByUserId.js
  back/src/server.js
Labels: back-end

#331 형식: 스타일 관련 매직넘버 제거
  front/src/Components/Auth/index.js
  front/src/Components/Modal/index.js
  front/src/Components/SpriteSelectorItem/index.js
  front/src/Styles/GlobalStyles.js
  front/src/Styles/Theme.js
Labels: Front-end

#332 기타: 아이패드 접근 제거
  front/public/index.js
Labels: Front-end

#334 버그:[HotFix] detailCanvas에서 x,y좌표 이미지 비율대로 안나오는현상
  front/src/Components/URLImage/index.js
Labels: HotFix

#335 버그:[HotFix] detail페이지에서 키입력이 먹지 않는 현상
  front/src/Components/DetailCanvas/index.js
Labels: HotFix

#336 버그:[HotFix] 디테일 캔버스에서 캔버스를 벗어나는 문제 해결
  front/src/utils/canvasSize.js
  front/src/utils/tempLocationStore.js
Labels: Canvas, HotFix

#337 버그: [HotFix] 충돌이벤트가 벽에서 안일어나는 현상 수정
  front/src/core/canvas/collision.js
Labels: HotFix
