Repository connect-foundation/2019-13, pull requests merged in 2019-11, with the labels that each got.

#16 추가: 헤더 구현
  front/package.json
  front/public/favicon.ico
  front/public/logo.png
  front/src/Components/App.js
  front/src/Components/Header.js
  front/src/Components/Routes.js
  front/src/Routes/LoginMain.js
  front/src/Routes/Main.js
  front/src/Styles/GlobalStyles.js
  front/src/Styles/Theme.js
Labels: Front-end, React

#17 추가: Passport를 이용하여 Google- OAuth login 구현
  back/package.json
  back/src/auth/index.js
  back/src/passport/index.js
  back/src/server.js
  back/yarn.lock
Labels: OAuth, back-end, express

#19 추가: 프리즈마 도커 연결 및 구축
  docker-compose.yml
Labels: Ncloud, ORM, docker

#20 수정: 프로젝트 페이지 틀 구현
  front/src/Routes/Project.js
  front/src/Styles/Theme.js
Labels: Front-end, React

#21 추가: front-OAuth 모달 창 띄우고 OAuth에서 받아온 token Backend로 넘기기
  front/.babelrc
  front/.eslintrc
  front/.gitignore
  front/package.json
  front/src/Components/App.js
  front/src/Components/Auth/index.js
  front/src/Components/Header.js
  front/src/Components/Modal/index.js
  front/src/Components/Routes.js
  front/src/devenv
  front/src/env.js
  front/src/utils/SendRequest.js
  front/yarn.lock
Labels: Front-end, React

#22 추가 : graphql 쿼리문 추가
  back/src/api/graphql/block.graphql
  back/src/api/graphql/block_category.graphql
  back/src/api/graphql/block_typ.graphql
  back/src/api/graphql/project.graphql
  back/src/api/graphql/project_auth.graphql
  back/src/api/graphql/user.graphql
  back/src/schema.js
  back/yarn.lock
Labels: back-end, graphql

#23 추가: 기본 블록들 svg로 구현 및 드래그
  front/src/Block/ConditionBlock.js
  front/src/Block/DoubleBlock.js
  front/src/Block/EventBlock.js
  front/src/Block/Logic/Drag.js
  front/src/Block/Path/index.js
  front/src/Block/SingleBlock.js
  front/src/Block/TripleBlock.js
  front/src/Block/VariableBlock.js
Labels: Front-end, React, svg

#26 추가: 로그인 여부 파악 후 로그인시 Dropdown 띄우고 로그아웃 구현
  front/devenv
  front/src/Components/App.js
  front/src/Components/Auth/index.js
  front/src/Components/DropDown/index.js
  front/src/Components/Header.js
  front/src/Components/Routes.js
  front/src/Context/index.js
  front/src/utils/SendRequest.js
Labels: Front-end, React

#33 추가: 커넥션 객체 및 탐색기능.
  front/src/Block/block_manager.js
  front/src/Block/connection.js
  front/src/Block/connection_db.js
  front/src/Block/dragging.js
Labels: Front-end, React, javascript

#40 리팩토링: 블록 형식 변경
  front/src/Block/ConditionBlock.js
  front/src/Block/DoubleBlock.js
  front/src/Block/EventBlock.js
  front/src/Block/Logic/Drag.js
  front/src/Block/SingleBlock.js
  front/src/Block/TripleBlock.js
  front/src/Block/VariableBlock.js
  front/src/Components/Block/Init/Motion.js
  front/src/Components/Block/Logic/Drag.js
  front/src/Components/Block/Path/index.js
  front/src/Components/Block/block.js
  front/src/Components/Block/block_manager.js
  front/src/Components/Block/connection.js
  front/src/Components/Block/connection_db.js
  front/src/Components/Block/dragging.js
  front/src/Components/Block/index.js
  front/src/Styles/Theme.js
Labels: Front-end, React

#39 버그: 로그인시 헤더에 로그인한 유저의 사진이 안나오는 상황 수정
  front/src/Components/Auth/index.js
Labels: Front-end, bug

#42 추가: workspace객체를 추가함
  front/src/Components/Block/workspace.js
  front/src/utils/uid.js
Labels: Front-end

#58 리팩토링: connection을 위한 구조변경.
  front/src/Components/Block/Init/Motion.js
  front/src/Components/Block/block.js
  front/src/Components/Block/constants.js
  front/src/Components/Block/index.js
  front/src/Components/Block/workspace.js
  front/src/Routes/Project.js
Labels: Front-end, React, svg

#60 추가: 각각의 블록의 Connection을 인식하여 가까운 블록들을 탐색.
  front/src/Components/Block/Logic/Drag.js
  front/src/Components/Block/block.js
  front/src/Components/Block/connection.js
  front/src/Components/Block/connection_db.js
  front/src/Components/Block/constants.js
  front/src/Components/Block/dragging.js
  front/src/Components/Block/workspace.js
Labels: Front-end, javascript

#61 추가: 블록모델에서 블록 복사해서 드래그가 가능하게 구현
  front/src/Components/Block/Logic/Copy.js
  front/src/Components/Block/block.js
  front/src/Components/Block/block_model_list.js
  front/src/Components/Block/constants.js
  front/src/Components/Block/index.js
  front/src/Components/Group/index.js
  front/src/Context/index.js
  front/src/reducer/index.js
Labels: Front-end, React, svg

#63 버그: workspace 변경시 재렌더링 안되는 문제 해결
  front/src/Components/Block/index.js
  front/src/Components/Block/workspace.js
  front/src/Routes/Project.js
  front/src/reducer/index.js
Labels: bug

#64 버그: block model의 input 클릭 시 에러 발생
  front/src/Components/Block/Logic/Copy.js
Labels: Front-end, React, bug, svg

#65 기타: CONSTANTS 변경
  front/src/Components/Block/Path/index.js
  front/src/Components/Block/constants.js
Labels: Front-end

#66 추가: topblocks 기능
  front/src/Components/Block/block.js
  front/src/Components/Block/dragging.js
  front/src/Components/Block/workspace.js
  front/src/Components/Group/index.js
  front/src/utils/utils.js
Labels: Front-end, javascript

#69 추가: 싱글 블록 드래그앤드랍 연결 기능
  front/src/Components/Block/block.js
  front/src/Components/Block/connection.js
  front/src/Components/Block/dragging.js
  front/src/Components/Block/workspace.js
  front/src/utils/utils.js
Labels: Front-end, javascript

#71 리팩토링: 보다 확장성 있게 변경
  front/src/Components/Block/block.js
Labels: Front-end, React, svg

#70 추가: Facebook OAuth 로그인 구현
  back/datamodel.prisma
  back/package.json
  back/prisma-client/index.js
  back/prisma-client/prisma-schema.js
  back/src/auth/index.js
  back/src/passport/index.js
  back/yarn.lock
  front/package.json
  front/src/Components/Auth/index.js
  front/yarn.lock
Labels: Front-end, OAuth, back-end

#78 버그: 드래그 앤 드랍 관련 버그 수정.
  README.md
  docs/assets/fireduck.gif
  docs/assets/readme-banner.png
  docs/assets/w3-demo.gif
  front/src/Components/Block/Logic/Drag.js
  front/src/Components/Block/block.js
  front/src/Components/Block/connection.js
  front/src/Components/Block/connection_db.js
  front/src/Components/Block/dragging.js
  front/src/Components/Block/index.js
  front/src/Components/Block/workspace.js
  front/src/Components/Group/index.js
  front/src/Routes/Project.js
  front/src/reducer/index.js
Labels: Front-end, bug

#73 추가 : 메인페이지 비로그인 상태 뷰 구현
  front/package.json
  front/public/banner1.png
  front/public/banner2.png
  front/src/Components/App.js
  front/src/Components/Card/index.js
  front/src/Components/Carousel/index.js
  front/src/Components/Routes.js
  front/src/Routes/LoginMain.js
  front/src/Routes/Main.js
Labels: Front-end

#80 추가: Canvas에서 좌표이동, 이미지크기, 회전 구현
  front/package.json
  front/src/Components/Block/index.js
  front/src/Components/Canvas/index.js
  front/src/Components/DialMenu/index.js
  front/src/Components/DrawSection/index.js
  front/src/Components/Sprite/index.js
  front/src/Components/SpriteSelector/index.js
  front/src/Components/URLImage/index.js
  front/src/Context/index.js
  front/src/Routes/Project.js
  front/src/custom_hooks/useImage.js
  front/src/reducer/index.js
  front/yarn.lock
Labels: Canvas, Front-end, React

#90 버그: 위에 있는 블록 교체시 연결이 안 끊기던 버그 해결
  front/src/Components/Block/block.js
Labels: Front-end, bug, javascript

#89 추가: 블록 파싱
  front/src/Components/Block/functionMaker.js
  front/src/Components/Block/generator.js
Labels: Front-end, javascript

#87 추가: Drag이벤트 발생시 이에 맞게 좌표값 수정
  front/src/Components/Canvas/constants.js
  front/src/Components/Canvas/index.js
  front/src/Components/DrawSection/index.js
  front/src/Components/URLImage/index.js
  front/src/Context/index.js
  front/src/Routes/Project.js
  front/src/reducer/index.js
Labels: Canvas, Front-end, React

#88 리팩토링: 블록모델
  front/src/Components/Block/Logic/Copy.js
  front/src/Components/Block/block_model_list.js
  front/src/Components/Block/blockmodel.js
  front/src/Components/Block/blockmodel_list.js
  front/src/Components/Block/index.js
Labels: Front-end, React

#93 추가: 마이페이지 틀 구현
  front/package.json
  front/src/Components/Card/index.js
  front/src/Components/Carousel/index.js
  front/src/Components/Routes.js
  front/src/Components/Spinkit/index.js
  front/src/Components/Sprite/index.js
  front/src/Routes/LoginMain.js
  front/src/Routes/Main.js
  front/src/Routes/Mypage.js
  front/src/Styles/Theme.js
  front/src/utils/endScroll.js
  front/yarn.lock
Labels: Front-end, React

#94 버그: 드래그된 블럭의 위치가 업데이트 되도록 수정.
  front/src/Components/Block/connection.js
  front/src/Components/Block/dragging.js
Labels: Front-end, bug, javascript

#99 버그: 변수명 오류 수정
  front/src/Components/Block/dragging.js
Labels: bug

#101 변경 : 캐로셀 Reactstrap 의존성 변경
  front/package.json
  front/src/Components/Carousel/index.js
  front/src/Components/Header.js
  front/src/Routes/LoginMain.js
  front/src/Routes/Main.js
  front/src/Routes/Mypage.js
  front/yarn.lock
Labels: Front-end, React

#106 추가: 더블 블록 드래그앤 드롭 및 분리
  front/src/Components/Block/Init/Control.js
  front/src/Components/Block/Logic/childDrag.js
  front/src/Components/Block/block.js
  front/src/Components/Block/blockmodel.js
  front/src/Components/Block/connection.js
  front/src/Components/Block/connection_db.js
  front/src/Components/Block/constants.js
  front/src/Components/Group/index.js
Labels: Front-end, React, svg

#105 추가: interval을 통하여 블록을 실행.
  front/src/Components/Block/functionMaker.js
  front/src/Components/Block/generator.js
  front/src/Components/DrawSection/index.js
Labels: Front-end, javascript

#109 형식: 플레이 및 스탑버튼 호버 이벤트, 헤더 크기 조정
  front/src/Components/Block/generator.js
  front/src/Routes/Project.js
Labels: Front-end

#110 추가 : 프로젝트 페이지 스크롤 기능
  front/src/Components/Block/index.js
  front/src/Components/GroupModel/index.js
  front/src/Routes/Project.js
Labels: Front-end, React

#111 형식: 초기 값 변경 및 element 위치 변경
  front/src/Components/Block/Init/Control.js
  front/src/Components/Block/Init/Motion.js
  front/src/Components/Block/block.js
  front/src/Components/Block/blockmodel.js
Labels: Front-end

#112 버그: x,y좌표 입력시 입력이 안되는 현상 수정
  front/src/Components/DialMenu/index.js
  front/src/Components/DrawSection/index.js
  front/src/reducer/index.js
Labels: bug

#115 추가 : 스크롤바 wheel 인터렉션 추가
  front/src/Components/Block/index.js
Labels: Front-end, React

#116 추가: 스타트인 블록을 받아서 실행
  front/src/Components/Block/functionMaker.js
  front/src/Components/Block/workspace.js
  front/src/Components/DrawSection/function/move.js
Labels: Front-end, javascript

#117 추가: 블록이 워크스페이스에 넘어가지 못할경우 삭제 코드 추가
  front/src/Components/Block/Logic/Drag.js
  front/src/Components/Block/index.js
  front/src/Components/Block/workspace.js
  front/src/Components/Group/index.js
Labels: Front-end, React

#119 기타: 블록 분리 시 상태 갱신 및 위치값 탑블록 기준으로 갱신
  front/public/index.html
  front/src/Components/Block/Init/Motion.js
  front/src/Components/Block/block.js
  front/src/Components/Block/dragging.js
  front/src/Components/Block/workspace.js
  front/src/Components/Group/index.js
  front/src/Styles/GlobalStyles.js
Labels: Front-end, React, svg

#120 형식: overflow속성 변경
  .DS_Store
  front/src/Routes/Project.js
Labels: Front-end
